<h1>Editing perguntum</h1>
<div class="header">
            
            <h1 class="page-title">Nova Pergunta</h1>
        </div>
        
                <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li><a href="users.html">Formulário</a> <span class="divider">/</span></li>
            <li class="active">Nova Pergunta</li>
        </ul>

    <div class="container-fluid">
       <div class="row-fluid">
        <div class="btn-toolbar">
   
          </div>
          <div class="well">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Nova Pergunta</a></li>
              </ul>

<%= render 'form' %>

<%= link_to 'Show', @perguntum %> |
<%= link_to 'Back', pergunta_path %>
