<div class="container-fluid">
  <div class="well">
    <table  class="table table-striped" >
      <thead>
        <tr>
          <th >Titulo</th>
          <th>Descriçao</th>
          <th>Obrigatória</th>
        </tr>
      </thead>
      <tbody>
           <% @recrutamento.formulario.pergunta_forms.each do |p| %>
             <tr id="<%= p.id %>" class="handle">
                <% @pergunta = getPergunta(p.perguntum_id) %>
                <td><%= @pergunta.titulo %></td>
                <td> <%= @pergunta.descricao %></td>
                <td><%= obrigatoria?(p.obrigatoria) %></td>
            </tr>
         <% end %>
      </tbody>
    </table>
  </div>
</div>
