<div class="container-fluid">
      <div class="well">
        <table class="table table-striped">
            <% @candidato.respostas.each do |r| %>
                <tr>
                   <td><%= getPergunta(r.pergunta_id).titulo %></td>
                   <td><h6><%= r.resposta %></h6></td>
                </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>

