
<div class="header">
	<h1 class="page-title">Candidatos inscritos fora de época</h1>
</div>

<ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li class="active">Candidatos</li>
</ul>

<div class="container-fluid">
    <div class="row-fluid">
		<% if @candidatos.nil? %>
			<h1>Não existem Candidatos</h1>
		<% else %>

			
			<div id="candidatos_lista">
			    <%= render :partial => 'candidatos_fora' %>
			</div>
		<% end %>
	</div>
</div>

